" -*- mode: vimrc -*-
"vim: ft=vim

" dotspacevim/auto-install {{{
" Automatic installation of spacevim.
let config_dir = $HOME . '/.config/nvim'
let autoload_spacevim = expand(resolve(config_dir . '/autoload/spacevim.vim'))

if empty(glob(autoload_spacevim))
  let install_spacevim = jobstart([
  \  'curl',
  \  '-fLo',
  \  autoload_spacevim,
  \  '--create-dirs',
  \  'https://raw.githubusercontent.com/tehnix/spaceneovim/master/autoload/spacevim.vim'
  \])
  let waiting_for_plug = jobwait([install_spacevim])
endif
" }}}

" dotspacevim/init {{{
" This code is called at the very startup of Spacevim initialization
" before layers configuration.
" You should not put any user code in there besides modifying the variable
" values."
" IMPORTANT: For the moment, any changes in plugins or layers needs
" a vim restart and :PlugInstall
  let g:dotspacevim_configuration_layers = [
  \  '+nav/quit'
  \, '+nav/buffers'
  \, '+nav/windows'
  \, '+nav/text'
  \, '+nav/start-screen'
  \, '+checkers/syntax-checking'
  \]

  let g:dotspacevim_additional_plugins = [
  \  'flazz/vim-colorschemes'
  \]

  " let g:dotspacevim_escape_key_sequence = 'fd'
" }}}

" dotspacevim/user-init {{{
" Initialization for user code.
" It is compute immediately after `dotspacemacs/init', before layer
" configuration executes.
" This function is mostly useful for variables that need to be set
" before plugins are loaded. If you are unsure, you should try in setting
" them in `dotspacevim/user-config' first."
  let mapleader = ' '
  let g:leaderGuide_vertical = 0
  " Shorten the time before the guide buffer appears
  set timeoutlen=100

  " Load external user-init if found
  if filereadable(config_dir . '/user-init.vim')
    execute 'source ' . config_dir . '/user-init.vim'
  endif
" }}}

call spacevim#bootstrap()

" dotspacevim/user-config {{{
" Configuration for user code.
" This is computed at the very end of Spacevim initialization after
" layers configuration.
" This is the place where most of your configurations should be done.
" Unless it is explicitly specified that
" a variable should be set before a plugin is loaded,
" you should place your code here."
  set background=dark
  colorscheme wombat256mod

  " Load external user-config if found
  if filereadable(config_dir . '/user-init.vim')
    execute 'source ' . config_dir . '/user-config.vim'
  endif
" }}}
