" -*- mode: vimrc -*-
"vim: ft=vim

" dotspacevim/auto-install {{{
" Automatic installation of spacevim.

if has('nvim')
  let vim_config_dir = $HOME . '/.config/nvim'
else
  let vim_config_dir = $HOME . '/.vim'
endif
let vim_autoload_spacevim = expand(resolve(vim_config_dir . '/autoload/spacevim.vim'))
let spacevim_user_init = expand(resolve(vim_config_dir . '/user-init.vim'))
let spacevim_user_config = expand(resolve(vim_config_dir . '/user-config.vim'))

if empty(glob(vim_autoload_spacevim))
    execute "!curl -sSfLo" . vim_autoload_spacevim . "--create-dirs https://raw.githubusercontent.com/tehnix/spacevim/master/autoload/spacevim.vim"
endif

" }}}

" dotspacevim/init {{{
" This code is called at the very startup of Spacevim initialization
" before layers configuration.
" You should not put any user code in there besides modifying the variable
" values."
" IMPORTANT: For the moment, any changes in plugins or layers needs
" a vim restart and :PlugInstall

  let g:dotspacevim_distribution_mode = 1

  let g:dotspacevim_configuration_layers = [
  \  'core/.*',
  \  'git',
  \  'syntax-checking'
  \]

  let g:dotspacevim_additional_plugins = ['morhetz/gruvbox']

  let g:dotspacevim_excluded_plugins = []

  " let g:dotspacevim_escape_key_sequence = 'fd'

" }}}

" dotspacevim/user-init {{{
" Initialization for user code.
" It is compute immediately after `dotspacemacs/init', before layer
" configuration executes.
" This function is mostly useful for variables that need to be set
" before plugins are loaded. If you are unsure, you should try in setting
" them in `dotspacevim/user-config' first."

  let mapleader = ' '
  let g:leaderGuide_vertical = 0

  " Load external user-init if found
  if filereadable(spacevim_user_init)
    execute 'source '. spacevim_user_init
  endif

" }}}

call spacevim#bootstrap()

" dotspacevim/user-config {{{
" Configuration for user code.
" This is computed at the very end of Spacevim initialization after
" layers configuration.
" This is the place where most of your configurations should be done.
" Unless it is explicitly specified that
" a variable should be set before a plugin is loaded,
" you should place your code here."

  set background=dark
  colorscheme gruvbox

  " Load external user-config if found
  if filereadable(spacevim_user_config)
    execute 'source '. spacevim_user_config
  endif

" }}}
